extends layout

block content
  style(ng-controller='HighlightController')
    {{ styles() }}

  h1= title
  p Welcome to #{title}

  #codepane
    code
      include codeplates/javascript.html

  #colorpane(ng-controller='HighlightController')
    ul
      li(ng-repeat='group in groups')
        i(class='{{ "swatch-"+group.name }}')
        span
          {{ group.name }}

