@import
  "bourbon"
, "neat"
;

$max-width: 100%;

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  @include outer-container;

  > div {
    @include fill-parent;
    @include row(table);
    height: 100%;
  }
}

a {
  color: #00B7FF;
}

code {
  white-space: pre;
}

#settings {
  @include span-columns(4);
  @include pad;
  background-color: #FEFEFE;
  height: 100%;
  // padding: 50px 20px;

  h1 {
    margin-top: 0;
  }
}

#preview {
  @include span-columns(8);
  @include reset-display;
  @include pad;
  background-color: #F2ECE5;
  height: 100%;
  padding: 50px;
  margin-left: 300px;
}

